body {
    background-color: #3373B2; /* Dark blue color */
    color: white; /* Makes text white for better readability */
    font-family: Arial, sans-serif; /* Sets a default font */
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
    display: flex;
    flex-direction: column; /* Allows for vertical stacking of content */
}

header, main, footer {
    padding: 20px;
}

main {
    flex: 1; /* Allows the main content to take up available space */
}

footer {
    background-color: #000055; /* Darker blue for footer background */
    text-align: center;
}
